---
import Layout from '../layouts/DefaultLayout.astro';
---

<Layout
	title="Adrien FAURÉ"
	description="Welcome to my portfolio"
	heroImage="/indexcover.jpg"
>
	<p>
	 I am currently a french student, deeply engaged in comprehensive training in development, with a particular focus on backend. My interest in this discipline stems from my fascination with database management and optimization, implementing robust architectures, and solving complex problems that power the invisible core of every application.	
	</p>

    <h3>My Resume</h3>
	<h6><b>Lycée Stephane Hessel BAC (Mention Bien)</b> / 2020-2023</h6>
	<h6><b>BUT Informatique Blagnac</b> / 2023-Today</h6>
    <br>
    <h3>My Stats</h3>	
    <h6>Explore my coding journey through insightful statistics tracked by Wakatime.<h6>
    <a href="https://wakatime.com/@ceb0a75a-8f2b-44a2-a5c3-7d734dcb27b3"><img src="https://wakatime.com/badge/user/ceb0a75a-8f2b-44a2-a5c3-7d734dcb27b3.svg" alt="Total time coded since Apr 16 2022" /></a>
    <figure><embed src="https://wakatime.com/share/@AirbnbEcoPlus/b148646a-db63-4d03-8ab4-c0f309fb46dc.svg"></embed></figure>
    <figure><embed src="https://wakatime.com/share/@AirbnbEcoPlus/66e7f8be-5fbb-4ef6-a72c-8d75ecb361c8.svg"></embed></figure>
</Layout>
